node_modules/
frontend/**/node_modules/

venv/
.venv/
__pycache__/
*.pyc
.env

dist/
build/
dist-build/
dist-electron/
.vscode/
*.log

backend/services/tem/uploads/
backend/services/tem/results/
backend/services/tem/tem_images/

*.h5
*.zip
*.exe